@charset "UTF-8";

body {
	background-image: url("src/main/resources/images/homePageImage.jpg");
}

.topnavbar {
	background-color: lime;
}
.topnavbar h1 {
	float: center;
}

.title {
	font-family: fantasy;
	text-align: center;
	color: green;
}

.invalid_message {
	font-family: cursive;
	color: red;
	font-size: small;
	font-style: italic;
}

.ok_message {
	font_family: cursive;
	color: green;
	font-style: bold,italic;
}

.body {
	font-family: cursive; 
}

.searchbar {
	float: center;
	background-color: gray;
}
.searchbar input {
	float: center;
}
.searchbar select {
	float: left;
}
.searchbar button {
	float: right;
}

.gallery_image {
	width:30%;
	height:30%;
	padding-left: 350px;
}

.addToCarrello_image {
}

.carrello_image {
	float: right;
}