<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/style.css" />
<title>FotografiaPage</title>
</head>
<body>
	<div class="topnavbar">
		<h1 class="title"><b>Silph Spa</b></h1>
		<br>
		<a th:href="@{/}">Home</a>
		<span>	</span>
		<a th:href="@{/about}">About</a>
	</div>
	
	<br/>
	<br/>
	<br/>
	
	
	<div><h3 class="title">Fotografia</h3></div>
	<div th:text="'nome trovato: '+${fotografia.nome}">nome_foto</div>
	
	<p>TODO - IMPLEMENT</p>
</body>
</html>