<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/style.css" />
<title>FotografoPage</title>
</head>
<body>
	<div class="topnavbar">
		<h1 class="title"><b>Silph Spa</b></h1>
		<br>
		<a th:href="@{/}">Home</a>
		<span>	</span>
		<a th:href="@{/about}">About</a>
	</div>
	
	<br/>
	<br/>
	<br/>
	
	
	<div><h3 class="title">Fotografo</h3></div>
	<table th:object="${fotografo}">
		<tr>
			<td>Nome: </td>
			<td th:text="*{nome}">nome_fotografo</td>
		</tr>
		<tr>
			<td>Cognome: </td>
			<td th:text="*{cognome}">conome_fotografo</td>
		</tr>
		<tr>
			<td>
				<a th:href="@{'/albums/'+*{id}}" th:text="Album">album_fotografo</a>
			</td>
		</tr>
		<tr>
			<td>
				<a th:href="@{'/fotografieFotografo/'+*{id}}" th:text="Fotografie">fotografie_fotografo</a>
			</td>
		</tr>
	</table>
</body>
</html>