<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/style.css" />
<title>FotografiaConfirmedPage</title>
</head>
<body>
	<div class="topnavbar">
		<h1 class="title"><b>Silph Spa</b></h1>
		<br>
		<a th:href="@{/}">Home</a>
		<span>	  </span>
		<a th:href="@{/homeFunzionario}">Home Funzionario</a>
		<span>	  </span>
		<a th:href="@{/about}">About</a>
	</div>
	
	<br/>
	<br/>
	<br/>
	
	
	<div><h3 class="ok_message">Fotografia correttamente salvata!</h3></div>
	<div th:text="'Id: '+${fotografia.id}">foto_message_id</div>
	<div th:text="'Nome: '+${fotografia.nome}">foto_message_nome</div>
	<br/>
	<div>Vuoi aggiungere un'altra fotografia? <a th:href="@{/addFotografia}">Sì!</a></div>
</body>
</html>