<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<body>
<div class="title"><h1>Benvenuto</h1></div>
<div>
<h4>Seleziona un'attività</h4>
</div>
<div>
<span><a th:href="@{/addFotografo}">Aggiungi fotografo</a></span>
</div>

<br/>

<div>
<span><a th:href="@{/addFotografia}">Aggiungi fotografia</a></span>
<span th:if=${messaggioConferma}>&emsp;<span class="ok_message" th:text="${messaggioConferma}"></span></span>
</div>

<br/>

<div>
<span><a th:href="@{/addAlbum}">Aggiungi album</a></span>
</div>
</body>
</html>