<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/style.css" />
<title>HomePage</title>
</head>
<body>	
	<div class="topnavbar">
		<h1 class="title"><b>Silph Spa</b></h1>
		<br>
		<a th:href="@{/}">Home</a>
		<span>	</span>
		<a th:href="@{/about}">About</a>
		<a th:href="@{/login}">LoginFunzionario</a>
	</div>
	
	<br/>
	<br/>
	<br/>
	
	<form th:action="@{/search}" th:object="${search_query}" method="post" class="searchbar">
		<input th:field="*{query}" type="text" placeholder="Search...">
		<select th:field="*{type}">
			<optgroup>
				<option title="fotografia" value="Fotografia">Fotografia</option>
				<option title="fotografo" value="Fotografo">Fotografo</option>
				<option title="album" value="Album">Album</option>
			</optgroup>
		</select>
		<button type="submit"><img src="/icons/search.png"></img></button>
		
		<br/>
		<span class="invalid_message" th:if="${#fields.hasErrors('query')}" th:errors="*{query}"></span>
	</form>
	
	<br/>
	<br/>
	<br/>
	
	<div>Visualizza tutte le foto cliccando <a th:href="@{/gallery}">qui</a>!</div>
</body>
</html>