<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/style.css" />
<title>Carrello</title>
</head>
<body>
	<div class="title"><h1>Carrello</h1></div>
	<div align="center">
		<form th:action="@{/gallery}">
			<input type="button" value="Go Back" onClick="history.go(-1);">
			<span>&emsp;</span>
			<button type="submit">Go To Gallery</button>
		</form>
	</div>
	<br />

	<div th:each="fotografia : ${fotografie}">
		<div>
			<h1>
				<a th:text="${fotografia.nome}"
					th:href="@{'/fotografia/' + ${fotografia.id}}">Title</a>
			</h1>
		</div>
		<div>
			<a th:href="@{'/shoppingCart/rimuoviFotografia/{id}'(id=${fotografia.id})}" ><button
					type="button" th:text="Rimuovi">Rimuovi</button>
			</a>
		</div>
		<br/>
	</div>

	<div>
		<a th:if="${fotografie.size() != 0}" th:href="@{'/shoppingCart/checkout'}">
			<button type="button" th:text="Checkout">Checkout</button>
		</a>
		<span th:if="${fotografie.size() == 0}">
		Per poter proseguire seleziona fotografie dalla	
		<a th:href="@{/gallery}" th:text="gallery"></a>			
		</span>
		
	</div>


</body>
</html>