<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<h4>Registrati per proseguire</h4>
		<form th:action="@{/addUtente}" th:method="post" th:object="${utente}">
			<table>
				<tr>
					<td>Nome:</td>
					<td><input th:type="text" th:field="*{nome}" />
					<td th:if="{#fields.hasErrors('nome')}" th:errors="*{nome}"></td>
					</td>
				</tr>
				<tr>
					<td>Cognome:</td>
					<td><input th:type="text" th:field="*{cognome}" />
					<td th:if="{#fields.hasErrors('cognome')}" th:errors="*{cognome}"></td>
					</td>
				</tr>
				<tr>
					<td>Email:</td>
					<td><input th:type="text" th:field="*{email}" />
					<td th:if="{#fields.hasErrors('email')}" th:errors="*{email}"></td>
					</td>
				</tr>
			</table>
			</form>
	</div>
</body>
</html>